<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mapper.UnderwriterMapper">


    <resultMap id="myUnderwriter" type="entity.Underwriter">
        <id column="id" property="id"/>
        <result column="underwriter_id" property="underwriterId" />
        <result column="underwriter_name" property="underwriterName" />
        <result column="full_name" property="fullName" />
    </resultMap>
    <!-- resultType 与 resultMap 二选一-->

    <!--返回List-->
    <select id="getUnderwriterLikeName" resultMap="myUnderwriter">
        SELECT * FROM underwriter WHERE full_name LIKE #{name}
    </select>
    <!--返回Map （key属性名， value属性值）-->
    <select id="getUnderwriterMap" resultType="map">
        SELECT id, underwriter_id AS underwriterId, underwriter_name AS underwriterName, full_name AS fullName
        FROM underwriter WHERE underwriter_id = #{underwriterId}
    </select>
    <!--返回Map （key属性名， value实体类）-->
    <select id="getUnderwriterMap2" resultMap="myUnderwriter">
        SELECT * FROM underwriter WHERE full_name LIKE #{name}
    </select>

<!-- 无法映射 返回Map （key属性名， value List）
    <select id="getUnderwriterMap3" resultType="entity.Underwriter">
        SELECT id, underwriter_id AS underwriterId, underwriter_name AS underwriterName, full_name AS fullName
        FROM underwriter WHERE underwriter_name = #{name}
    </select>
-->

    <select id="getUnderwriterById" resultMap="myUnderwriter">
        SELECT * FROM underwriter WHERE underwriter_id = #{underwriterId}
    </select>

    <!--
        useGeneratedKeys="true" 指定自增主键
        keyProperty="id"  自增主键后的值映射给实体类的指定属性

        oracle不支持自增主键，使用者<selectKey> [order sql在插入之前运行]
            <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
                select UNDERWRITER_SEQ.nextval from dual
            </selectKey>
     -->
    <insert id="addUnderwriter" parameterType="entity.Underwriter" useGeneratedKeys="true" keyProperty="id">
        insert into underwriter (underwriter_id, underwriter_name, full_name)
        values (#{underwriterId}, #{underwriterName}, #{fullName});
    </insert>
    
    <update id="updateUnderwriter">
        update underwriter set underwriter_name = #{underwriterName}, full_name = #{fullName}
        where underwriter_id = #{underwriterId} ;
    </update>

    <delete id="deleteUnderwriter">
        delete from underwriter where underwriter_id = #{underwriterId}
    </delete>

    <select id="getAllUnderwriter" resultMap="myUnderwriter">
        select * from underwriter
    </select>
</mapper>